<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
    <title><%= @session.title %></title>
    <link href="shellplay.css" rel="stylesheet">
    <link href="colors.css" rel="stylesheet">
    <script src="jquery-1.11.1.min.js"></script>
    <script src="shellplay.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">
<div class="col-md-12 main">
<% @session.sequence.each_with_index do |screen, i| %>
<div class="screen s<%= i %>">
<% if screen.customprompt %>
<%= Shell2html.to_html(screen.customprompt) %>
<% else %>
<%= Shell2html.to_html(@session.config.prompt) %>
<% end %>
<%= Shell2html.to_html(screen.stdin) %>
<br>
<%= Shell2html.to_html(screen.stdout) %>
<% if screen.stderr %>
<%= Shell2html.to_html(screen.stderr) %>
<% end %>
</div>
<% end %>
</div>
      </div>
    </div>

  </body>
</html>
